/**
 * General styles.
 */
img {
  max-width: 100%;
}

p {
  font-size: 1.5em;
  font-family: 'Sanchez', serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #2e3192;
  text-decoration: none;
}

i.fa:hover {
  color: #2e3192;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

/**
 * Header styles.
 */
header {
  padding-bottom: 2em;
  padding-top: 2em;
}

header h1 {
  font-size: 3.5em;
  font-weight: bold;
}

header h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

header ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  text-align: center;
}

header ul li {
  display: inline;
  margin-left: 2em;
}

header i {
  color: #444;
}

/**
 * Intro styling.
 */
section.intro {
  margin-top: 2em;
}

/**
 * Subscribe styling.
 */
section {
  margin-bottom: 2em;
  margin-top: 2em;
}

section.subscribe {
  text-align: center;
}


/**
 * Episode styling.
 */
section.episodes img {
  max-width: 100%;
}

section.episodes h2 {
  margin-bottom: 1em;
}

section.episodes a {
  text-decoration: none;
}

section.episodes h3 {
  display: inline;
  margin-left: .5em;
}

section .episode-holder {
  margin-bottom: 2em;
  margin-top: 2em;
}


/**
 * Question styling.
 */
section.questions p {
  margin-top: 1em;
}

section.questions form {
  text-align: right;
}

section.questions textarea {
  border: dotted 1px #bbb;
  padding: .5em .8em;
  min-width: 100%;
  margin-bottom: 3em;
  margin-top: 1em;
  text-align: justify;
}

section.questions textarea:hover {}

/**
 * Footer styling.
 */
footer {
  text-align: center;
}

/**
 * Sponsors styling.
 */
.sponsors .sponsors-intro {
  margin-bottom: 2em;
}

/**
 * Episode styling.
 */
.episode-meta h2 {
  margin-bottom: 1em;
}

.episode-meta h3 {
  margin-top: -.25em;
}


.episode-meta p {
  margin-top: 1em;
  font-style: italic;
}
